*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #ccc;
}

.selections{
  display: flex;
  justify-content: center;
}

.selection{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  transition: all 100ms;
}

.selection:hover{
  transform: scale(1.2);
}


